School Universe/School Universe/bin/*
School Universe/School Universe/obj/*
School Universe/School Universe Businness Layer/bin/*
School Universe/School Universe Businness Layer/obj/*
School Universe/School Universe Data Layer/bin/*
School Universe/School Universe Data Layer/obj/*
School Universe/School Universe Models/bin/*
School Universe/School Universe Models/obj/*
School Universe/.vs/School Universe/v14/.suo
